.mob-nav-block{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 800;
    background: rgba(0, 0, 0, .5);
    //backdrop-filter: blur(6px);
    transform: translate(-120%, 0);
    transition: opacity 500ms ease;
    opacity: 0;
}



.mob-menu{
    width: 100%;
    
    @media (min-width: 480px){
        max-width: 420px;
    }

    height: 100vh;

    max-height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(120%, 0);
    transition: 300ms 100ms ease;

    padding: 64px 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 32px;

    overflow-y: auto;
}

.mob-nav-block.active{
    transform: translate(0%, 0);
    opacity: 1;

    .mob-menu{
        transform: translate(0%, 0);
    }
}


.mob-nav-block.active.hide-menu{
    opacity: 0;

    .mob-menu{
        transform: translate(-120%, 0);
    }
}


.mob-menu__close{
    position: absolute;

    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;


    span{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #333;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        &:first-of-type{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:last-of-type{
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
}

.mob-menu__logo{
    width: 100%;
    max-width: 300px;
    display: flex;
    img{
        max-width: 100%;
        height: auto;
    }
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}
.mob-menu-list__item {
}

.mob-menu-list__item_btn{
    margin-top: 24px;
}

.mob-menu-list__link {
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--black);
    font-size: 24px;
}

.mob-menu-list__link.active{
    color: var(--dark-green);
}

.mob-menu-contacts{
    svg{
        width: 24px;
        height: 24px;
    }
}

.mob-menu-contacts{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;

    address, a{
        display: flex;
        justify-content: center;
        column-gap: 10px;
        font-size: 17px;
        font-weight: 500;
        color: var(--black);
        svg{
            flex-shrink: 0;
        }
        text-align: center;
        font-size: 17px;
    }
}
