.error404{ //body

}

.content-404{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; 

        
    }

   
}

.title-404{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 25px;
    color: var(--colors-type-primary);
    line-height: 1.3333;
    @include calculateResponsiveProperty(744px, 1025px, 25px, 63px, font-size);


    span{
        display: block;
        background: linear-gradient(118deg, #c12017 0%, #201f1f 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text-block-404{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 46px;

    padding: 80px 0;

    @media ( max-height: 480px){
        padding: 160px 0;
    }

    @media (min-width: 1024px){
        max-width: 940px;
    }
}