a{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: var(--colors-type-primary);
    
}

a.underline{        
    text-decoration: underline;
    text-decoration-skip-ink: none;       
}

a{
    &:hover{
        color: var(--colors-type-accent);;
    }
}

h1, h2, h3{
    letter-spacing: -0.02em;
}

.title{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 25px;
    color: var(--colors-type-primary);
    letter-spacing: -0.02em;
    line-height: 1.3333;
    @include calculateResponsiveProperty(350px, 744px, 25px, 60px, font-size);
}

.md-headline{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #262626;

    letter-spacing: -0.02em;
    line-height: 1.3333;

    @include calculateResponsiveProperty(350px, 744px, 20px, 34px, font-size);
}


.md-title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #262626;
    letter-spacing: -0.02em;
    line-height: 1.3333;

    @include calculateResponsiveProperty(350px, 744px, 24px, 46px, font-size);
}

.gradient-title{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 25px;
    background: linear-gradient(122deg, #c12017 0%, #201f1f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.02em;
    line-height: 1.3333;
    @include calculateResponsiveProperty(744px, 1024px, 25px, 60px, font-size);
}




.small-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: var(--colors-type-primary);
    letter-spacing: -0.02em;
    line-height: 1.3333;
    @include calculateResponsiveProperty(350px, 744px, 16px, 18px, font-size);
}




.text{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--colors-type-primary);
    letter-spacing: -0.02em;
    line-height: 1.3333;
    @include calculateResponsiveProperty(350px, 744px, 18px, 24px, font-size);
}

.text-lg{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    color: #262626;
    letter-spacing: -0.02em;
    line-height: 1.3333;
    @include calculateResponsiveProperty(350px, 744px, 22px, 38px, font-size);
}
.text-basic{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #262626;
    @include calculateResponsiveProperty(350px, 744px, 14px, 16px, font-size);    
}

.small-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 1.333;
    @include calculateResponsiveProperty(350px, 744px, 11px, 13px, font-size);
    
}

.text-subline{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: #262626;
    line-height: 130%;
    letter-spacing: -0.025em;
    @include calculateResponsiveProperty(350px, 744px, 18px, 36px, font-size);
    
}

.text-subline-small{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: var(--colors-type-primary);

    line-height: 130%;
    letter-spacing: -0.025em;
    @include calculateResponsiveProperty(350px, 744px, 14px, 20px, font-size);

}

.text-subline-sheet{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: #262626;
    line-height: 130%;
    letter-spacing: -0.025em;
    @include calculateResponsiveProperty(744px, 1024px, 18px, 36px, font-size);
}