.contact-link{
    display: flex;
    align-items: center;
    column-gap: 2px;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;    
    color: #83827f;

    display: flex;

    svg{
        flex-shrink: 0;
    }

    &:hover{
        color: var(--colors-type-accent);
        path{
            fill: var(--colors-type-accent);
        }
    }
}

.btn{

}
.btn-red{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--colors-background-terriary);
    background: var(--colors-type-accent);
    border: 1px solid #880902;
    border-radius: 38px;
    padding: 7px 10px;
    
    &:hover{
        border-radius: 0px;
    }

}


.white-badge{
    display: inline-flex;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--colors-type-secondary);
    padding: 2px 10px;
    background: var(--colors-background-secondary);
    border-radius: 50px;

    @include calculateResponsiveProperty(350px, 744px, 11px, 13px, font-size);
}