.h-contact-link{
    display: flex;
    align-items: center;
    column-gap: 2px;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;    
    color: #83827f;

    display: flex;

    svg{
        flex-shrink: 0;
    }

    &:hover{
        color: var(--colors-type-accent);
        path{
            fill: var(--colors-type-accent);
        }
    }
}

.btn{

}
.btn-red{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--colors-background-terriary);
    background: var(--colors-type-accent);
    border: 1px solid #880902;
    border-radius: 38px;
    padding: 7px 10px;
    
    &:hover{
        border-radius: 0px;
    }

}


.white-badge{
    display: inline-flex;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--colors-type-secondary);
    padding: 2px 10px;
    background: var(--colors-background-secondary);
    border-radius: 50px;

    @include calculateResponsiveProperty(350px, 744px, 11px, 13px, font-size);
}

.contact-link{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    display: inline-flex;
    position: relative;
    letter-spacing: -0.02em;
    color: var(--colors-type-primary);

    @include calculateResponsiveProperty(350px, 744px, 20px, 24px, font-size);

    &:hover{
        color: var(--colors-type-accent);

        path{
            fill: var(--colors-type-accent);
        }
    }
}

.contact-link.outer-link{
    

    
    svg{
        position: absolute;
        right: 0;
        top: 0;
        width: 13px;
        height: 13px;
        transform: translate(125%, 0);

        @include calculateResponsiveProperty(350px, 744px, 13px, 24px, width);
        @include calculateResponsiveProperty(350px, 744px, 13px, 24px, height);
    }

    
}




.contact-link.under-line{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--colors-type-primary);
}


.contact-soc-links{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: var(--colors-background-terriary);

        &:hover{
            background: var(--colors-background-secondary);
            border-radius: 50%;
        }
    }
}


.cf-submit, .dark-btn{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 12px;
    
    position: relative;

    overflow: hidden;

    svg{
        position: relative;
        z-index: 5;
    }

    border-radius: 32px;
    letter-spacing: -0.02em;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #262626 86.06%, #ac0900 100%);
        background-size: 120%;
    }

    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #262626 0%, #ac0900 100%);
        z-index: 2;
        transition: linear 200ms;

        transform: translate(-50%, -50%);
        opacity: 0;
    }

    &:hover{
        border-radius: 0px;
        &::after{
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
}
.cf-submit__text, .dark-btn__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--colors-background-primary);
    position: relative;
    z-index: 5;
}
.cf-submit__text_sending{
    display: none;
}
.cf-submit:disabled{
    border-radius: 50px;

    &::before{
        background: var(--colors-background-inverse-primary);
    }

    svg{
        display: none;
    }

    &::after{
        display: none;
    }

    .cf-submit__text_static{
        display: none;
    }
    .cf-submit__text_sending{
        display: initial;
    }
    
    .cf-submit__text{
        color: var(--colors-background-terriary-hover);
        opacity: 0.6;
    }
}


.cf-submit.sm{
    
    padding: 6px 8px;
    column-gap: 6px;
    .cf-submit__text {
        font-size: 14px;
    }
}

.dark-btn{
    
}

.slider-nav{
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #e3e1dc;

    
}
.slider-nav.swiper-button-disabled{
    opacity: 0.3;
}
.slider-nav:not(.swiper-button-disabled){
    &:hover{
        background: #dbd6c8;
        border-radius: 0%;
    }
}